body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #fd0606;
    text-align: center;
    margin-top: 50px;
}

a {
    color: #080808;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}